<h3>All Assignments</h3>

<p>Please select one of the assignments below to review. You can only review an assignment twice.</p>
<hr>

<% @assignments.each do |assignment| %>
 
<div class="media"> 
  <div class="media-body">
    <div class="row">
      <div class="span12">
        <div class="thumbnail">      
          <h5><%= link_to assignment.title, assignment %></h5>
            <small>
                submitted <%= time_ago_in_words(assignment.created_at) %> ago by <%= assignment.user.name %><br/>
        
            </small>      
          </div>
        </div>
      </div>
    </div> 
  </div>
<% end %>
