<h1>Assignment Published</h1>
<p>You have accepted the authors assignment and this has subsequently been published. The author will now be paid accordingly from your account</p>

<p>Thank you for using Cupidicon!</p>
