<div class="page-header">
  <Center>
  <h2>Welcome to Cupidicon</h2>
  <strong>The world's first content site for sentiment!</strong>
  <br>
  <br>

  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-small' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-small' %> today!
  </p>
  </center>
</div>

<div id="leftcolumn">
<div class="row">
  <div class="span-4">
    <div class="thumbnail">
      <img data-src="holder.js/200x200" alt="">
      <div class="caption">
        <h3>Need Content?</h3>
        <p style="text-align: justify;">Looking for emotional content? We know that sometimes the words won't come, and inspiration can be hard to find.Cupidicon provides you with access to hundreds of quality writers ready and waiting to fulfill your requests.You are not alone.</p>
        <p><a href="need_content" class="btn btn-small">Learn more</a> 
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
  <div id="rightcolumn">
  <div class="span-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <div class="caption">
        <h3>Write Content</h3>
        <p style="text-align: justify;">Looking to be creative? 
          You are in the right place. Cupidicon provides a portal to unleash your talent. With hundreds of client projects just waiting to be written, have you got what it takes to fulfill their needs?</p>
        <p><a href="write_content" class="btn btn-small">Learn more</a> 
      </div>
    </div>
  </div>
</div>
</div>

